{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Curriculum List
{% endblock title %}


{% block page_title %}
    Curriculum List
{% endblock page_title %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">
            Curriculum List
        </li>
</ol>
{% endblock breadcrumb %}


{% block content %}
<script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
<div class="row">
    <div class="col-10 m-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Curriculum List
                </h4>
                <hr>
                <div class="row my-2">
                    {% for i in info_sys %}
                        <div class="col-lg-6 my-2">
                            <h4 class="card-title farsi">
                                Semester {{ forloop.counter }}
                            </h4>
                            <div class="table-responsive" style="background-color: white; border: 1px solid;">
                                <table class="table table-hover mb-0">
                            
                                    <thead>
                                        <tr>
                                            <th class="farsi">#</th>
                                            <th class="farsi">Curriculum Code</th>
                                            <th class="farsi">Curriculum Name</th>
                                            <th class="farsi"> Curriculum Credit </th>
                                        </tr>                                
                                    </thead>
                                    <tbody>
                                        {% for info in i %}                           
                                            <tr class="clickable-row" data-href="{% url 'curriculum-update' info.pk %}">
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ info.curr_code }}</td>
                                                <td> {{ info.curr_name }} </td>
                                                <td>{{ info.curr_credit }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="3">
                                                <p class=""> Total </p>
                                            </td>
                                            <td>
                                                
                                            </td>
                                        </tr>  
                                    </tbody>                            
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <h4 class=""> Software Engineering Department </h4>
                <hr>
                <div class="row">
                    {% for s in soft_eng %}
                    <div class="col-lg-6 my-2">
                        <h4 class="card-title farsi"> Semester {{ forloop.counter }}</h4>
                        <div class="table-responsive" style="background-color: white; border: 1px solid;">
                            <table class="table table-hover mb-0">
                        
                                <thead>
                                    <tr>
                                        <th class="farsi">#</th>
                                        <th class="farsi">Curriculum Code</th>
                                        <th class="farsi">Curriculum Name</th>
                                        <th class="farsi"> Curriculum Credit </th>
                                    </tr>                                
                                </thead>
                                <tbody>
                                    {% for soft in s %}                           
                                    <tr class="clickable-row" data-href="{% url 'curriculum-update' soft.pk %}">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ soft.curr_code }}</td>
                                        <td> {{ soft.curr_name }} </td>
                                        <td>{{ soft.curr_credit }}</td>
                                    </tr> 
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3">
                                            <p class="">Total </p>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>  
                                </tbody>                            
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <h4 class=""> Information Technology Department </h4>
                <hr>
                <div class="row">
                    {% for t in info_tech %}
                    <div class="col-lg-6 my-1">
                        <h4 class="card-title farsi">Semester {{ forloop.counter }} </h4>
                        <div class="table-responsive" style="background-color: white; border: 1px solid;">
                            <table class="table table-hover mb-0">
                        
                                <thead>
                                    <tr>
                                        <th class="farsi">#</th>
                                        <th class="farsi">Curriculum Code</th>
                                        <th class="farsi">Curriculum Name</th>
                                        <th class="farsi"> Curriculum Credit </th>
                                    </tr>                                
                                </thead>
                                <tbody>
                                    {% for tech in t %}                           
                                    <tr class="clickable-row" data-href="{% url 'curriculum-update' tech.pk %}">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ tech.curr_code }}</td>
                                        <td> {{ tech.curr_name }} </td>
                                        <td>{{ tech.curr_credit }}</td>
                                    </tr> 
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3">
                                            <p class=""> Total </p>
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>  
                                </tbody>                            
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($) {
      $('.clickable-row').css('cursor', 'pointer');
      $(".clickable-row").click(function () {
        window.location = $(this).data("href");
      });
    })(jQuery)

</script>
{% endblock content %}