{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Edit content 
{% endblock title %}


{% block page_title %}
    {% if object %}
    Edit content "{{ object.title }}"
    {% else %}
    New Content
    {% endif %}
{% endblock page_title %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'course-list' %}">Course List</a></li>
        <li class="breadcrumb-item active">
            Edit content "{{ object.title }}"
        </li>
</ol>
{% endblock breadcrumb %}

{% block content %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div class="row">
    <div class="col-10 m-auto">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">
                    {% if object %}
                    Edit content "{{ object.title }}"
                    {% else %}
                    New Content
                    {% endif %}
                </h4>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="col-lg-8 m-auto">
                        <div class="form-group">
                            <label for=""> Title </label>
                            {% render_field form.title class="form-control" %}
                        </div>
                    </div>
                    <div class="col-lg-8 m-auto">
                        <div class="form-group">
                            <label for=""> Content </label>
                            {% render_field form.content class="form-control" %}
                        </div>
                    </div>
                <button class="btn btn-primary font-size-18 ">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}