{% load static %}

        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>

        <!-- apexcharts -->
        <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
        
        <script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script>
        
        <!-- owl.carousel js -->
        <script src="{% static 'assets/libs/owl.carousel/owl.carousel.min.js' %}"></script>
        
        <!-- auth-2-carousel init -->
        <script src="{% static 'assets/js/pages/auth-2-carousel.init.js' %}"></script>
        <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/profile.init.js' %}"></script>
        <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>

        <!-- init js -->
        <script src="{% static 'assets/js/pages/ecommerce-select2.init.js' %}"></script>
        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>
        