{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Delete Curriculum  
{% endblock title %}


{% block page_title %}
        Delete "{{ object.curr_name }}"
    
{% endblock page_title %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'curriculum-detail' object.slug %}">Curriculum Detail</a></li>
        <li class="breadcrumb-item active">
            {{ object.curr_name }}
        </li>
</ol>
{% endblock breadcrumb %}


{% block content %}
<div class="row">
    <div class="col-10 m-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                   {{ object.curr_name }}
                </h4>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <p class="alert alert-danger font-size-20 text-center">
                        Are you sure you want to delete the {{ object.curr_name }}? Be aware that deleted items are not recoverable.

                    </p>
                    <button class="btn btn-danger font-size-18" type="submit">Yes, Delete</button>
                    <a href="{% url 'curriculum-detail' object.slug %}" class="btn btn-primary font-size-18">No, Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}