{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Staff Profile Detail
{% endblock title %}


{% block page_title %}
    {{ request.user.username }} Profile Detail Info
{% endblock page_title %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'staff-profile' %}">Staff Profile</a></li>
        <li class="breadcrumb-item active">
            Profile Detail
        </li>
</ol>
{% endblock breadcrumb %}


{% block content %}
<div class="row">
    <div class="col-10 m-auto">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">
                    Register New Staff
                </h4>
                <hr>

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row my-2">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Staff ID</label>
                                {% render_field form.national_cart class="form-control" %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Cart Number</label>
                                {% render_field form.cart_number class="form-control" placeholder="1234432" %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Page Number</label>
                                {% render_field form.page_number class="form-control" placeholder="33" %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Register Number</label>
                                {% render_field form.register_number class="form-control" placeholder="1" %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Volume Number</label>
                                {% render_field form.volume class="form-control" placeholder="12"  %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Cart Image</label>
                                {% render_field form.cart_image class="form-control" type="file"  %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Phone Number</label>
                                {% render_field form.phone_number class="form-control" placeholder="07771674632"  %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Address</label>
                                {% render_field form.address class="form-control" placeholder="کابل"  %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Status</label>
                                {% render_field form.status class="form-control"  %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Avatar</label>
                                {% render_field form.avatar class="form-control" type="file"  %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5 class="mb-2">Student Account Information</h5>
                    <div class="row my-2">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Email</label>
                                {% render_field u_form.email class="form-control" placeholder="ahmad@gmail.com"  %}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Username</label>
                                {% render_field u_form.username class="form-control" placeholder="Ahmad"  %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary font-size-18">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}