{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ object.title }}
{% endblock title %}


{% block page_title %}
   {{ object.title }} Course
{% endblock page_title %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="{% url 'student-course-list' %}">My Courses</a></li>
        <li class="breadcrumb-item active">
            {{ object.title }}
        </li>
</ol>
{% endblock breadcrumb %}


{% block content %}
<style>
    .module{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
</style>
    {% with course=module.course %}
    <div class="d-xl-flex">
        <div class="w-100">
            <div class="d-md-flex">
                <div class="card filemanager-sidebar mr-md-2">
                    <div class="card-body">
    
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4">
                                <div class="mb-3">
                                    <div class="dropdown">
                                        <h4>{{ course.title }}</h4>
                                    </div>
                                </div> 
                            </div>
                            {% for m in course.modules.all %}
                            <div  data-id="{{ m.id }}" {% if m == module %}
                            class="selected card border mb-2 module"{% endif %}>
                                <a href="{% url 'student-course-detail-module' object.id m.id %}" class="text-body">
                                    <div class="p-2">
                                        <div class="d-flex">
                                            <div class="avatar-xs align-self-center mr-2">
                                                <div class="avatar-title rounded bg-transparent text-success font-size-20">
                                                    <i class="mdi mdi-image"></i>
                                                </div>
                                            </div>

                                            <div class="overflow-hidden mr-auto">
                                                <h5 class="font-size-13 text-truncate mb-1">Module {{ m.order|add:1 }}</h5>
                                                <p class="text-muted text-truncate mb-0">{{ m.title }}</p>
                                            </div>

                                            <div class="ml-2">
                                                <p class="text-muted"></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% empty %}
                            <p class="alert alert-info text-center">
                                No Module Yet
                            </p>
                            {% endfor %}
                            
                        </div>
    
                    </div>
                </div>
                <!-- filemanager-leftsidebar -->
    
                <div class="w-100">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="row mb-3">
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="mt-2">
                                            <h5>Module {{ module.order|add:1 }}: {{ module.title }}</h5>
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-sm-6">
                                        <form class="mt-4 mt-sm-0 float-sm-right form-inline">
                                            <div class="search-box mb-2 mr-2">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control bg-light border-light rounded" placeholder="Search...">
                                                    <i class="bx bx-search-alt search-icon"></i>
                                                </div>
                                            </div>
    
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div>
                                <div class="">
                                    {% for content in module.contents.all %}
                                    {% with item=content.item %}
                                    <h3> {{ item.title.title }} </h3>
                                    <p> {{ item.render }} </p>
                                    <hr>
                                    {% endwith %}
                                    {% empty %}
                                    <p class="font-size-16 alert alert-info text-center">
                                        This module has no content yet.
                                    </p>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card filemanager-sidebar ml-lg-2">
            <div class="card-body">
                <div class="">
                    <h5 class="font-size-15 mb-2">Calender</h5>
                    <div class="apex-charts" id="radial-chart"></div>
    
                    <!-- <p class="text-muted mt-4">48.02 GB (76%) of 64 GB used</p> -->
                </div>
                <h4>{{today}}</h4>
                <div class="mt-3">
                    <p class="alert alert-info text-center font-size-14">
                        No Event or Task for today.
                    </p>
                    <!-- <div class="card border shadow-none mb-2">
                        <a href="javascript: void(0);" class="text-body">
                            <div class="p-2">
                                <div class="d-flex">
                                    <div class="avatar-xs align-self-center mr-2">
                                        <div class="avatar-title rounded bg-transparent text-success font-size-20">
                                            <i class="mdi mdi-image"></i>
                                        </div>
                                    </div>
    
                                    <div class="overflow-hidden mr-auto">
                                        <h5 class="font-size-13 text-truncate mb-1">Images</h5>
                                        <p class="text-muted text-truncate mb-0">176 Files</p>
                                    </div>
    
                                    <div class="ml-2">
                                        <p class="text-muted">6 GB</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
{% endblock content %}