{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    My Courses
{% endblock title %}


{% block page_title %}
        My Courses
{% endblock page_title %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="/">
        <i class="bx bx-home-circle text-primary font-size-20"></i>
        </a></li>
        <li class="breadcrumb-item active">
           My Courses
        </li>
</ol>
{% endblock breadcrumb %}


{% block content %}
<style>
    .course {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
    }
    .course:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
</style>
<div class="d-xl-flex">
    <div class="w-100">
        <div class="d-md-flex">
            <div class="card filemanager-sidebar mr-md-2">
                <div class="card-body">

                    <div class="d-flex flex-column h-100">
                        <div class="mb-4">
                            <div class="mb-3">
                                <div class="dropdown">
                                   <h4 class="text-center mb-4">
                                   My Profile
                                   </h4>
                                   <div class="card border ">
                                        <a href="{% url 'student-profile' %}">
                                        <div class="row mt-2">
                                            <div class="col-lg-3">
                                             <img src="{{ request.user.student.avatar.url }}" alt=""
                                             class="avatar-sm rounded-circle mb-2"
                                             >
                                            </div>
                                            <div class="col-lg-9">
                                                <h5> {{ request.user.username.title }} </h5>
                                                <p class="text-muted"> {{ request.user.student.department }} </p>
                                            </div>
                                        </div>
                                        </a>
                                        <h5 class="mx-2 mt-2 mb-4 text-muted">Subjects</h5>
                                        <div class="row">
                                            {% for subject in subjects %}
                                            {% if subject.department == request.user.student.department %}
                                            <div class="col-lg-4 mx-2 mb-2">
                                                <span class="badge badge-pill badge-secondary p-1 font-size-10">{{ subject.curr_name }}</span>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                       </div>
                                   <a href="{% url 'all-courses' %}" class="btn btn-primary font-size-16" style="width: 100%;">
                                       Explore Courses
                                   </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
            <!-- filemanager-leftsidebar -->

            <div class="w-100">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="row mb-3">
                                <div class="col-xl-3 col-sm-6">
                                    <div class="mt-2">
                                        <h5>My Courses</h5>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-sm-6">
                                    <form class="mt-4 mt-sm-0 float-sm-right form-inline">
                                        <div class="search-box mb-2 mr-2">
                                            <div class="position-relative">
                                                <input type="text" class="form-control bg-light border-light rounded" placeholder="Search...">
                                                <i class="bx bx-search-alt search-icon"></i>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div>
                            <div class="row">
                                {% for course in object_list %}
                                <div class="col-xl-4 col-sm-6 ">
                                    <div class="card border course">
                                        <div class="card-body p-3">
                                            <div class="">
                                                <div class="float-right ml-2">
                                                    <div class="dropdown mb-2">
                                                        <a class="font-size-16 text-muted dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="avatar-xs mr-3 mb-3">
                                                    <div class="avatar-title bg-transparent rounded">
                                                        <i class="bx bx-code-alt font-size-24 text-primary"></i>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="overflow-hidden mr-auto">
                                                        <h5 class="font-size-14 text-truncate mb-1"><a href="{% url 'student-course-detail' course.pk %}" class="text-body">{{ course.title }}</a></h5>
                                                        <br>
                                                        <p class="text-muted text-truncate mb-0">
                                                             {{ course.curriculum.curr_semester }} Semester
                                                        </p>
                                                    </div>
                                                    <div class="align-self-end ml-2">
                                                        <p class="text-muted mb-0">{{ course.created_at|date:"Y M, d" }}</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                {% empty %}
                                <p class="font-size-16 alert alert-info text-center">
                                    You have created no course yet.
                                </p>
                                {% endfor %}
                            </div>
                            <!-- end row -->
                        </div>

                        <div class="mt-4">
                            <div class="d-flex flex-wrap">
                                <h5 class="font-size-14 mr-3">Recent Accessed Course</h5>

                                <div class="ml-auto">
                                    <a href="javascript: void(0);">View All</a>
                                </div>
                            </div>
                            <hr class="mt-2">

                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-hover mb-0">
                                    <thead>
                                        <tr>
                                          <th scope="col">Course Title</th>
                                          <th scope="col">Course Instructor</th>
                                          <th scope="col" colspan="2">Visted</th>
                                        </tr>
                                      </thead>
                                    <tbody>
                                        {% for item in items %}
                                            <tr>
                                                <td>{{ item.title }}</td>
                                            </tr>
                                        {% empty %}
                                        <tr>
                                                <td colspan="3">
                                                    <p class="alert alert-warning text-center font-size-16">
                                                        You haven't visit a course recently.
                                                    </p>
                                                </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end w-100 -->
        </div>
    </div>

    <div class="card filemanager-sidebar ml-lg-2">
        <div class="card-body">
            <div class="text-center">
                <h5 class="font-size-15 mb-2">My Classmates</h5>
                <div class="apex-charts" id="radial-chart"></div>

                <!-- <p class="text-muted mt-4">48.02 GB (76%) of 64 GB used</p> -->
            </div>

            <div class="mt-3">
                
                
                    {% for std in classmates %}
                    <div class="card border shadow-none mb-2">
                        <a href="#" class="text-body">
                            <div class="p-2">
                                <div class="d-flex">
                                    <div class="avatar-xs align-self-center mr-2">
                                        <div class="avatar-title rounded bg-transparent text-success font-size-20">
                                            {% if std.avatar %}
                                            <img src="{{ std.avatar.url }}" alt="" class="rounded-circle avatar-xs">
                                            {% else %}
                                            <img src="{% static 'assets/images/users/avatar-2.jpg' %}" class="rounded-circle avatar-xs" alt="">
                                            {% endif %}
                                        </div>
                                    </div>
    
                                    <div class="overflow-hidden mr-auto">
                                        <h5 class="font-size-13 text-truncate mb-1">{{ std.first_name }} - {{ std.last_name }} </h5>
                                        <p class="text-muted text-truncate mb-0">
                                            Last Login {{ std.user.last_login|timesince}} ago
                                        </p>
                                    </div>
    
                                    <div class="ml-2">
                                        <!-- <p class="text-muted">6 GB</p> -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}